@media only screen and (min-width: 961px) {
.header {
    margin-top: 1%;
    width: 100%;
    display: inline-block;    
}
.hamburger{
    visibility: hidden;
    display: none;
}
.tree{
    float: left;
    color: #577863;
    margin-left:5%; 
    font-size: 20px;
}
.header a{
    margin-top:1%; 
    margin-right: 6%;
    float: right;
    color: #577863;
    text-decoration: none;
}
.header a :hover{
    outline: solid;
    padding-right: 8px;
    padding-left: 8px;
    outline-width: 2px;
    transition-duration: 0.4s;
}
}
@media only screen and (max-width: 951px) {
    .header {
        visibility: hidden;
        display: none;
        }
    .container div{
        margin-top:0%;
        margin-bottom:2%;
    }
    .nav-item p{
        color: #ffffff;
        margin-top: 0;
        margin-bottom: 0.3rem;
    }
    .nav-item{
        background-color: #de425b;
        padding-left:3% ;
        padding-top: 2%;
    }
    .navbar-collapse li{
        border: solid #ffffff;
        border-width: 0 0 0.1px;
    }

}
