.header{
     background-color:#DAE0D8;
     width: 100%;
     height: 84px;
}
 .logo {
    width: 103px;
    height: 103px;
    padding-left:128px;
}
button{
    width: 143px;
    height: 37px;
    position:fixed;
    background-color:white;
    color: #577863;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.addTree{
    left:669px;
    top:26px;
    bottom: 21px;
}
.order{
    left:827px;
    top:26px;
    bottom: 21px;
}
.user{
    width: 30px;
    height: 30px;
    left: 975px;
    top:29px;
    bottom:25px;
    position: fixed;
}