.header {
    top: 0%;
    width: 100%;
    display: inline-block;    
}
.tree{
    float: left;
    color: #577863;
    margin-left:5%; 
    font-size: 20px;
}
.header a{
    margin-top:1%; 
    margin-right: 6%;
    float: right;
    color: #577863;
    text-decoration: none;
}
.header a :hover{
    outline: solid;
    padding-right: 8px;
    padding-left: 8px;
    outline-width: 2px;
    transition-duration: 0.4s;
}

