.bg{
    background: #5d7c68 url(bg.png);
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: ;
    opacity: 0.85;
    position:fixed;
    background-size: auto;
}
.logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4%;
    width: 350px;
    height: 350px;
    }
input{
    top: 10%;
    width: 40%;
    height: 30%;
    font-size: 16px;
    background-color: white;
    background-position: 30px 10px; 
    background-repeat: no-repeat;
    padding: 10px 25px 12px 40px;
    font-family: 'Kanit';
    font-weight: lighter;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-style: none;
}
.submit{
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 20%;
    height: 10%;
    color: #577863;
    font-size: 20px;
    border: none;
    text-align: center;
    text-decoration: none;
    font-family: 'Kanit';
    background-color: white;
}
.submit:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #577863;
    color: white;
}
.submit:active {
    background-color:white;
    color:#577863;
  }  