div{
    font-family: 'Kanit', medium;
    position: static;
}
.head{
    color:#577863;
    text-align: center;
    position:static;
    margin-top:8% ;   
}
.search{
    position: static;
    width: 30%;
    height: 30%;
    font-size: 16px;
    background-color: #DAE0D8;
    color: #577863;
    background-image: url('search-icon.svg');
    background-position: 30px 10px; 
    background-repeat: no-repeat;
    padding: 10px 25px 12px 70px;
    font-family: 'Kanit';
    font-weight: lighter;
    display: block;
    margin-right: auto;
    margin-left: auto;
    border-style: none;
    border-radius: 15px;
}
.bu {
    position: relative;
    overflow: auto;
    margin: 0px 0px 0px 0px; 
    color:#577863;
    background-color: #ffffff;
    font-size: 20px;
    width: 200px;
    
}
.bu:hover{
    color: #ffffff;
    background-color: #577863;
}
.bu:active{
    color: #ffffff;
    background-color: #577863;
}
.btn-group {
    display: block;
    text-align: center;
    margin: 20px 0px 0px 0px;    
}
.btn-group button{
    font-family: 'Kanit';
    border: none;
    height: 40px;
    transition-duration: 0.4s;
}
.tableAllOrder{
    text-align: center;
}
.table-order{
    display: inline-block;
    width: 25%;
    margin:2%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
    padding-bottom: 1%;
    text-align: left;
    cursor: pointer;
}
.table-order:hover{
    box-shadow: 0 15px 15px 0 rgba(0,0,0,0.24), 0 15px 15px 0 rgba(0,0,0,0.19);
}
.orderNumber{
    padding: 5%; 
    background-color: #DAE0D8;

}
.orderNumber p{
    display: inline-block;
    color: #577863;
    margin: 0%;
}
.orderId{
    float: right;
}
.detailOrder p{
    color:#383939;
    font-weight:lighter;
    opacity: 0.75;
    margin: 4%;

}
.detailOrder {
    padding: 3%;
}

.orderStatus{
    background: #577863 0% 0% no-repeat padding-box;
    opacity: 1;
    float: right;
    padding:2%; 
    color: #ffffff;
    width: 40%;
    font-weight: lighter;
    text-align: center;
}