@media only screen and (min-width: 961px) {
div{
    font-family: 'Kanit', medium;
    position: static;
}
.head{
    color:#577863;
    text-align: center;
    position:static;
    margin: 0%;
}
.head-detail{
    color:#577863;
    text-align: center;
    position:static;
    margin-bottom: 3%;
}
.search{
    position: static;
    width: 30%;
    height: 20%;
    font-size: 16px;
    background-color: #DAE0D8;
    color: #577863;
    background-image: url('search-icon.svg');
    background-position: 30px 10px; 
    background-repeat: no-repeat;
    padding: 10px 25px 12px 70px;
    font-family: 'Kanit';
    font-weight: lighter;
    display: block;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    border-style: none;
    border-radius: 25px;
}
.excel{
    margin-left:auto;
    margin-right: auto;
    color: rgb(255, 255, 255);
    background-color: #de425b;
    width: 30%;
    padding: 1%;
    border-radius:4px ;
    border: none;
    cursor: pointer;
    display: block;
    font-size: 18pt;
}
#dropdown-basic{
    visibility: hidden;
    display: none;
}
.btn-process button{
    font-family: 'Kanit', medium;
    position: relative;
    overflow: auto;
    margin: 0px 0px 0px 0px; 
    color:#577863;
    font-size: 18px;
    font-weight: lighter;
    width: 15%;
    padding: 0.4%;
    background-color: white;
    border: 1px black;
    transition-duration: 0.4s;
    border-radius: 15px;
    margin: 0.5%;
    
}
.btn-process Button:hover,.btn-process Button:focus{
    color: #ffffff;
    background-color: #de425b;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn-process{
    display: block;
    text-align: center;
    margin: 20px 0px 0px 0px; 
    
}
.tableAllOrder{
    text-align: center;
}
.table-order{
    display: inline-block;
    width: 25%;
    margin:2%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
    padding-bottom: 1%;
    text-align: left;
    cursor: pointer;
}
.table-order:hover{
    box-shadow: 0 15px 15px 0 rgba(0,0,0,0.24), 0 15px 15px 0 rgba(0,0,0,0.19);
    
}
.orderNumber{
    padding: 5%; 
    background-color: #DAE0D8;

}
.orderNumber p{
    display: inline-block;
    color: #577863;
    margin: 0%;
}
.orderId{
    float: right;
    margin-right: 10%;
}
.detailOrder p{
    color:#383939;
    font-weight:lighter;
    opacity: 0.75;
    margin: 4%;
}
.detailOrder {
    padding: 3%;
}

.orderStatus{
    background: #577863 0% 0% no-repeat padding-box;
    opacity: 1;
    float: right;
    padding:2%; 
    color: #ffffff;
    width: 40%;
    font-weight: lighter;
    text-align: center;
}

.detail-order p{
    display:block;
    overflow: auto;
    color: #383939;
    font-weight: lighter;
    margin-left: 5%;
    font-size:20px ; 
}
.detail-order p b{
    margin-right: 3%;
}
.dropdown-status{
    font-size: 16px;
    transform: translate3d(48px, 349px, 0px);
    float: right;
}
.btn-success{
    float: right;
    margin-right: 10%;
}
.img-order{
    width: 15%;
    height: 100%; 
    position: static;
    margin-bottom:2% ;
}
.priceDetail{
    background: rgb(199, 199, 199) 0% 0% no-repeat padding-box;
    opacity: 1;
    float: right;
    margin-right: 20%;
    margin-top: 4%;
    padding:2%; 
    color: #577863;
    width: 15%;
    font-weight: lighter;
    text-align: center;
    font-size: 14pt;
}
.asset-detail{
    padding-left:8%;
    margin-bottom:0.5% ;
    background-color:#f2f3f3;
}
.asset-detail p{
    display: block;
    font-size: 14pt;
    margin-bottom: 0%;
}
.asset-detail b{
    font-size: 18pt;
    color: #577863;
}
.detailOfAsset{
    position:absolute;
    display: inline-block; 
    width: 50%;
    padding-top: 3%;
}
.totalPrice{
    margin-left:20%;
    width: 50%;
    display: block;
    margin-bottom: 5%;
    margin-top: 3%;
}
.totalPrice p{
    font-size: 18pt ;
}
.price-total{
    margin-top: 3%;
    background: rgb(199, 199, 199);
    opacity: 1;
    color: #577863;
    width: 14%;
    text-align: center;
    font-size: 18pt;
    padding: 2%;
    margin-right: 18%;
    float: right;
}
tbody{
    display: none;
    visibility: hidden;
}


}
@media only screen and (max-width: 961px) {
    div{
        font-family: 'Kanit', medium;
        position: static;
    }
    .head{
        color:#577863;
        text-align: center;
        position:static;
        margin: 0%;
        font-size: 28px;
    }
    .head-detail{
        color:#577863;
        text-align: center;
        position:static;
        font-size: 20px;
    }
    .search{
        position: static;
        width: 70%;
        height: 15%;
        font-size: 14px;
        color: #577863;
        background-image: url(/static/media/search-icon.1c25d905.svg);
        background-size: 35px 15px;
        background-position: 2px 5px;
        background-repeat: no-repeat;
        padding: 7px 35px 6px 50px;
        font-family: 'Kanit';
        font-weight: lighter;
        display: block;
        margin-top: 2%;
        margin-bottom:0% ;
        margin-right: auto;
        margin-left: auto;
        outline: 0;
        border-width: 0 0 0.1px;
        border-color: #577863;
    }
    #dropdown-basic{
        margin-top: 4%;
        margin-bottom: 4%;
        margin-left:auto;
        margin-right:auto;
        display: block;
        overflow: auto;
        border: none;
        background-color:#de425b;
        color: #ffffff;
        font-size: 16px;
        width: 70%;
    }
    .dropdown-item,.dropdown-menu.show{
        font-size: 16px;
        width: 70%;
    }
    .btn-process{
        visibility: hidden;
        display: none;
        
    }
    .tableAllOrder{
        text-align: center;
    }
    .table-order{
        display: inline-block;
        width: 60%;
        margin:2%;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
        padding-bottom: 1%;
        text-align: left;
        cursor: pointer;
        font-size: 16px;
    }
    .table-order:hover{
        box-shadow: 0 15px 15px 0 rgba(0,0,0,0.24), 0 15px 15px 0 rgba(0,0,0,0.19);
        
    }
    .orderNumber{
        padding: 5%; 
        background-color: #DAE0D8;
        font-size: 18px;
    
    }
    .orderNumber p{
        display: inline-block;
        color: #577863;
        margin: 0%;
    }
    .orderId{
        float: right;
    }
    .detailOrder p{
        color:#383939;
        font-weight:lighter;
        opacity: 0.75;
        margin: 4%;
        font-size: 16px;
    
    }
    .detailOrder {
        padding: 3%;
    }
    
    .orderStatus{
        background: #577863 0% 0% no-repeat padding-box;
        opacity: 1;
        float: right;
        padding:2%; 
        color: #ffffff;
        width: 40%;
        font-weight: lighter;
        text-align: center;
        margin:0% 2% 3% 3%;
    }
    .detail-order p{
        display:block;
        overflow: auto;
        font-size:14px ;
               
    }.dropdown-status{
        font-size: 14px;
        transform: translate3d(48px, 349px, 0px);
    }.dropdown-toggle{
        font-size: 12px;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display:block;
        overflow: auto;
    }
    .img-order{
        width: 30%;
        height: 100%; 
        position: static;
        margin-bottom:2% ;
        margin-left: 3%;
    }
    .asset-detail{
        margin-bottom:0.5% ;
        background-color:#f2f3f3;
        margin-bottom: 5%;
    }
    .asset-detail p{
        padding-left:15%;
        display: block;
        font-size: 14pt;
        margin-bottom: 0%;
    }
    .detailOfAsset{
        position:absolute;
        display: inline-block; 
        width: 50%;
        padding-top: 3%;
    }
    .totalPrice{
        width: 50%;
        display: block;
    }
    .totalPrice p{
        font-size: 14pt ;
        margin: 0%;
    }
    .price-total{
        margin-top: 3%;
        background: rgb(199, 199, 199);
        opacity: 1;
        color: #577863;
        width: 40%;
        text-align: center;
        font-size: 16pt;
        padding: 2%;
        margin-right: 0%;
        float: right;
    }
    .priceDetail{
        background:rgb(199, 199, 199) 0% 0% no-repeat padding-box;
        opacity: 1;
        width: 100%;
        padding:2%; 
        color: #577863 ;
        font-weight: lighter;
        text-align: center;
        font-size: 14pt;
        margin-top: 3%;
    }
    .excel{
        margin-top:5% ;
        margin-left:auto;
        margin-right: auto;
        color: rgb(255, 255, 255);
        background-color: #de425b;
        width: 70%;
        padding: 3%;
        border-radius:4px ;
        border: none;
        cursor: pointer;
        display: block;
        font-size: 16pt;
    }
}