@media only screen and (min-width: 961px) {
p{
        font-family: 'Kanit';
        color: #577863;
}
.head{
    color:#577863;
    text-align: center;
    position:static;
       
}
.add{
    position: fixed;
    overflow: auto;
    bottom: 5%;
    right:5%;
    background:url(add.png);
    background-size: 100%;
    color: white;
    width: 90px;
    height: 90px;
    border: none;
    box-shadow:  rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.add:hover{
    box-shadow:  rgba(0,0,0,0.24), 0 15px 15px 0 rgba(0,0,0,0.19);
    width: 95px;
    height: 95px;
}
.search{
    position: static;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    height: 30%;
    font-size: 16px;
    background-color: #DAE0D8;
    color: #577863;
    background-image: url('search-icon.svg');
    background-position: 30px 10px; 
    background-repeat: no-repeat;
    padding: 10px 25px 12px 70px;
    font-family: 'Kanit';
    font-weight: lighter;
    display: block;
    border-style: none;
    border-radius: 15px;
}
.btn-group button{
    position: relative;
    overflow: auto;
    margin: 0px 0px 0px 0px; 
    color:#577863;
    font-size: 18px;
    font-weight: lighter;
    width: 200px;
    background-color: white;
    border: 1px black;
    transition-duration: 0.4s;
    border-radius: 15px;
    margin: 0%;
    
}
.btn-group Button:hover,.btn-group Button:link{
    color: #ffffff;
    background-color: #577863;
}

.btn-group{
    display: block;
    text-align: center;
    margin: 20px 0px 0px 0px; 
    
}
.table-plants{
    text-align: center;
}
.tablePlant{
    display: inline-block;
    width: 20%;
    margin:2% 3% 3% 5%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
    padding: 1.5%;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
}
.tablePlant p{
    margin: 0%;
}
.tablePlant:hover{
    box-shadow: 0 15px 15px 0 rgba(0,0,0,0.24), 0 12px 15px 0 rgba(0,0,0,0.19);
}
.detail{
    text-align: left;
    text-decoration: underline;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    font-size: 14px;
    margin:0%;
}
.img-asset{
    width: 100%;
    height:250px; 
    position: static;
}
.price{
    background: #577863 0% 0% no-repeat padding-box;
    opacity: 1;
    float: right;
    padding:2%; 
    color: #ffffff;
    width: 40%;
    font-weight: lighter;
    text-align: center;
    border-radius: 15px;
}

.close{
    background:url(cancel.png);
    background-size: 100%;
    width: 30px;
    height: 30px;
    float: right;
    border: none;
}
.close:hover{
    background:url(cancel.png);
    background-size: 100%;
    box-shadow: 0 0px 0px 0 , 0 0px 0px 0 rgba(0,0,0,0.19);
    border: none;
}
.headAdd{
    color:#577863;
    text-align: center;
    position:static;
    margin-top: 1%;
}
.detail-table p{
    display: inline;
}
.detail-table{
    position:absolute;
    font-size: 18px;
    display: inline-block; 
    margin-top:2%; 
}
.detail-table div{
    margin-bottom: 30%;
    padding: 0;
    margin-left: 10%;
}
.detail-field{
    position: absolute;
    width:400px;
    height:35px;
    padding-left:10%;
    padding-top:5%; 
    background-color: #DAE0D8;
    font-size: 16px;
    font-family: 'Kanit' ;
    margin: 0;
    left:90%;
    color:#577863;
    border-radius: 10px;
}
.detail-textarea{
    position:absolute;
    padding: 5%;
    background-color: #DAE0D8;
    width: 500px;
    height: 100px;
    margin-left: 1%;
    font-size:16px; 
    color:#577863;
    border-radius: 5px;
    margin-bottom: 25%;
}
.img-detail{
    width: 450px;
    margin-left:2%;
}
.typeAsset{
    right: 10%;
    font-size: 18px;
    margin-left: 37%;
    margin-bottom: 2%;
    
}
.typeAsset Button{
    border: 1px;
    position: relative;
    overflow: auto;
    color:#577863;
    font-size: 20px;
    font-weight: lighter;
    width: 40%;
    height: 50px;
    background-color: white;
    font-family: 'Kanit';
    border: 1px solid #b3b3b3;
    cursor: pointer; 
}
.typeAsset button:hover{
    color:#ffffff;
    background-color: #577863;
    transition-duration: 0.4s;
}
.delete-btn{
    position:sticky;
    color:#ffffff;
    font-size: 20px;
    width: 20%;
    height: 50px;
    background-color:#577863;
    font-family: 'Kanit';
    border: none;
    cursor: pointer; 
    border-radius:15px; 
    margin-left:auto;
    margin-right: auto; 
    overflow:auto;
    display:block;
}
.delete-btn:hover{
    background-color: #DAE0D8;
    color: #577863;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.formAdd {  
    position:static;
    right: 10%;
    width: 50%;
    overflow:auto;
    display:block;
    font-size: 18px;
    margin-left: 37%;    
}
.formAdd input[type="number"],.formAdd input[type="text"]
{
    position: sticky;
    width:400px;
    height:20px;
    background-color: #DAE0D8;
    font-size: 16px;
    font-family: 'Kanit' ;
    font-weight: lighter;
    padding-left: 2%;
    margin-top: 2%;
    margin-bottom:2%; 
    left:20%;
    color:#577863;
    padding: 10px 20px 10px 20px;
    border: 1px solid #b3b3b3;
    border-radius: 8px;   
}
.formAdd input[type="file"]{
    padding-left: 3%;
    margin-top: 3%;
    margin-bottom:2%; 
}

.formAdd p{
    display: inline;
    color:#577863;
    position: sticky;
}

.uploadImage{
    position: absolute;
    width: 250px;
    height: 250px;
    margin-left: 5%;
    background-image:url('upload.png');
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.uploadImage input[type="file"] {
    display: none;
}
.detail,.detail-asset{
    overflow:auto;
    display:block;
    width: 100%;
    color: #707070;
    font-size:14px; 
    text-decoration: underline;
    cursor: pointer;
}
.detail-asset{
    margin-top:12%; 
}
.detail textarea,.detail-asset textarea{
    left: 20%;
    width: 90%;
    height: 100px;
    margin-left: 1%;
    font-size:16px; 
    color:#577863;
}
.hide{
    position: static;
    height: 70px;
}
.save{
    margin-left:auto;
    margin-right: auto; 
    overflow:auto;
    display:block;
    font-family: 'Kanit';
    font-size: 16px;
    width: 20%;
    color: white;
    background-color: #577863;
    border-radius:10px;
    border: none;
    height: 50px;

}
.save:hover{
    background-color: #DAE0D8;
    color: #577863;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.detailProduct{
    color: #707070;
    font-size:14px; 
    text-decoration: underline;
}


}
