@media only screen and (min-width: 961px) {
p{
        font-family: 'Kanit';
        color: #577863;
}
.head{
    color:#577863;
    text-align: center;
    position:static;
    top: 0%;
}
.add{
    position: fixed;
    overflow: auto;
    bottom: 5%;
    right:5%;
    background:url(add.png);
    background-size: 100%;
    color: white;
    width: 90px;
    height: 90px;
    border: none;
    box-shadow:  rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
    cursor: pointer;
}
.add:hover{
    box-shadow:  rgba(0,0,0,0.24), 0 15px 15px 0 rgba(0,0,0,0.19);
    width: 95px;
    height: 95px;
    transition-duration: 0.4s;
}
.search{
    position: static;
    width: 30%;
    height: 20%;
    font-size: 16px;
    background-color: #DAE0D8;
    color: #577863;
    background-image: url('search-icon.svg');
    background-position: 30px 10px; 
    background-repeat: no-repeat;
    padding: 10px 25px 12px 70px;
    font-family: 'Kanit';
    font-weight: lighter;
    display: block;
    margin-top: 2%;
    margin-right: auto;
    margin-left: auto;
    border-style: none;
    border-radius: 25px;
}
.btn-type button{
    font-family: 'Kanit', medium;
    position: relative;
    overflow: auto;
    margin: 0px 0px 0px 0px; 
    color:#577863;
    font-size: 18px;
    font-weight: lighter;
    width: 15%;
    padding: 0.4%;
    background-color: white;
    border: 1px black;
    transition-duration: 0.4s;
    border-radius: 15px;
    margin: 0.5%;
    
    
}
.btn-type Button:hover,.btn-type Button:link,.btn-type Button:focus{
    color: #ffffff;
    background-color: #de425b;
    cursor: pointer;
}

.btn-type{
    display: block;
    text-align: center;
    margin: 20px 0px 0px 0px; 
    
}
.table-plants{
    text-align: center;
}
.tablePlant{
    display: inline-block;
    width: 20%;
    margin:2% 3% 3% 5%;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
    padding: 1.5%;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    text-align: left;
}
.tablePlant p{
    margin: 0%;
}
.tablePlant:hover{
    box-shadow: 0 25px 35px 0 rgba(0,0,0,0.24), 0 12px 15px 0 rgba(0,0,0,0.19);
    transition-duration: 0.2s;
}
.detail{
    text-align: left;
    text-decoration: underline;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    font-size: 14px;
    margin:0%;
}
.img-asset{
    width: 100%;
    height: 100%; 
    position: static;
}
.price{
    background: #de425b 0% 0% no-repeat padding-box;
    opacity: 1;
    float: right;
    padding:2%; 
    color: #ffffff;
    width: 35%;
    text-align: center;
    border-radius: 25px;
    font-size: 17px;
    font-weight: inherit;
}

.close{
    background:url(cancel.png);
    background-size: 100%;
    width: 30px;
    height: 30px;
    float: right;
    border: none;
}
.close:hover{
    background:url(cancel.png);
    background-size: 100%;
    box-shadow: 0 0px 0px 0 , 0 0px 0px 0 rgba(0,0,0,0.19);
    border: none;
}
.headAdd{
    color:#577863;
    text-align: center;
    position:static;
    margin-top: 1%;
}
.detail-table p{
    display: inline;
}
.detail-table{
    position:absolute;
    font-size: 18px;
    display: inline-block; 
    margin-top:2%; 
    margin-bottom:10%; 
}
.detail-table div{
    margin-bottom: 30%;
    padding: 0;
    margin-left: 10%;
}
.detail-field{
    position: absolute;
    width:400px;
    height:35px;
    padding-left:10%;
    padding-top:5%; 
    background-color: #DAE0D8;
    font-size: 16px;
    font-family: 'Kanit' ;
    margin: 0;
    left:90%;
    color:#577863;
    border-radius: 10px;
}
.detail-textarea{
    position:absolute;
    padding: 5%;
    background-color: #DAE0D8;
    width: 500px;
    height: 100px;
    margin-left: 1%;
    font-size:16px; 
    color:#577863;
    border-radius: 5px;
}
.img-detail{
    width: 450px;
    margin-left:2%;
}
#dropdown-basic{
    visibility: hidden;
    display: none;
}
.typeAsset{
    right: 10%;
    font-size: 18px;
    margin-left: 37%;    
}
.typeAsset Button{
    border: 1px;
    position: relative;
    overflow: auto;
    color:#577863;
    font-size: 20px;
    font-weight: lighter;
    width: 40%;
    height: 50px;
    background-color: white;
    font-family: 'Kanit';
    border: 1px solid #b3b3b3;
    cursor: pointer; 
}
.typeAsset button:hover{
    color:#ffffff;
    background-color: #577863;
    transition-duration: 0.4s;
}
.manage-btn{
    text-align: center;
}
.manage-btn button{
    margin-left:3%;
    overflow:auto;
    display:line;
    font-family: 'Kanit';
    font-size: 16px;
    width: 20%;
    color: white;
    background-color: #577863;
    border-radius:10px;
    border: none;
    height: 50px;
}
.formAdd {  
    position:static;
    right: 10%;
    width: 50%;
    overflow:auto;
    display:block;
    font-size: 18px;
    margin-left: 37%;    
}
.formAdd input[type="number"],.formAdd input[type="text"]
{
    position: sticky;
    width:400px;
    height:40px;
    background-color: #DAE0D8;
    font-size: 16px;
    font-family: 'Kanit' ;
    font-weight: lighter;
    padding-left: 2%;
    margin-top: 3%;
    margin-bottom:2%; 
    left:20%;
    color:#577863;
    padding: 10px 20px 10px 20px;
    border: 1px solid #b3b3b3;
    border-radius: 8px;   
}
.formAdd input[type="file"]{
    padding-left: 3%;
    margin-top: 3%;
    margin-bottom:2%; 
}

.formAdd p{
    display: inline;
    color:#577863;
    position: sticky;
}

.uploadImage img{
    position: absolute;
    width: 250px;
    height: 250px;
    margin-left: 5%;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.uploadImage img:hover,.uploadImageEdit img:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;
    opacity: 0.2;
    cursor: pointer;
}
.img-upload{
    display: none;
}
.detail,.detail-asset{
    overflow:auto;
    display:block;
    width: 100%;
    color: #707070;
    font-size:14px; 
    text-decoration: underline;
    cursor: pointer;
}
.detail-asset{
    margin-top:12%; 
}
.detail textarea,.detail-asset textarea{
    left: 20%;
    width: 90%;
    height: 100px;
    margin-left: 1%;
    font-size:16px; 
    color:#577863;
}
.hide{
    position: static;
    height: 70px;
}
.save{
    margin-left:auto;
    margin-right: auto; 
    overflow:auto;
    display:block;
    font-family: 'Kanit';
    font-size: 16px;
    width: 20%;
    color: white;
    background-color: #577863;
    border-radius:10px;
    border: none;
    height: 50px;
}
.save:hover,.manage-btn button:hover{
    background-color: #DAE0D8;
    color: #577863;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;}
.detailProduct{
    color: #707070;
    font-size:14px; 
    text-decoration: underline;
}
.delete-popup{
    text-align: center;
}
.delete-popup button{
    background-color: #DAE0D8;
    color: #577863;
    font-family: 'Kanit';
    width: 20%;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin: 1%;
    cursor: pointer;
    transition-duration: 0.4s;}
.delete-popup button:hover{
    background-color: #577863;
    color: #DAE0D8;
}
}

@media only screen and (max-width: 961px) {
    div{
        font-family: 'Kanit';
        color: #577863;
}
    .head{
        color:#577863;
        text-align: center;
        position:static;
        top: 0%;
        font-size: 28px;
}
    .add{
        position: fixed;
        overflow: auto;
        bottom: 5%;
        right:5%;
        background:url(add.png);
        background-size: 100%;
        color: white;
        width: 70px;
        height: 70px;
        border: none;
        box-shadow:  rgba(0,0,0,0.24), 0 5px 5px 0 rgba(0,0,0,0.19);
        cursor: pointer;
}
    .add:hover{
        box-shadow:  rgba(0,0,0,0.24), 0 15px 15px 0 rgba(0,0,0,0.19);
        width: 75px;
        height: 75px;
        transition-duration: 0.4s;
}
    .search{
        position: static;
        width: 70%;
        height: 15%;
        font-size: 9px;
        color: #577863;
        background-image: url(/static/media/search-icon.1c25d905.svg);
        background-size: 35px 15px;
        background-position: 2px 5px;
        background-repeat: no-repeat;
        padding: 7px 35px 6px 50px;
        font-family: 'Kanit';
        font-weight: lighter;
        display: block;
        margin-top: 2%;
        margin-right: auto;
        margin-left: auto;
        outline: 0;
        border-width: 0 0 0.1px;
        border-color: #577863;
}
    .btn-type{
    visibility: hidden;
    display: none;
}
    #dropdown-basic{
    margin-bottom: 4%;
    margin-top: 4%;
    margin-left:auto;
    margin-right:auto;
    display: block;
    overflow: auto;
    border: none;
    background-color:#de425b;
    color: #ffffff;
    font-size: 16px;
    width: 70%;
    }
.dropdown-item,.dropdown-menu.show,.dropdown-item:hover{
    font-size: 16px;
    width: 70%;
}
.table-plants{
    text-align: center;
}
.tablePlant{
    display: inline-block;
    width: 70%;
    margin:2% 3% 3% 5%;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.24), 0 2px 5px 0 rgba(0,0,0,0.19);
    padding: 1.5%;
    font-size: 20px;
    cursor: pointer;
    border-radius: 15px;
    text-align: left;
    text-align: center;
}
.tablePlant p{
    margin: 0%;
}
.tablePlant:hover{
    box-shadow: 0 25px 35px 0 rgba(0,0,0,0.24), 0 12px 15px 0 rgba(0,0,0,0.19);
    transition-duration: 0.2s;
}
.detail{
    text-align: left;
    text-decoration: underline;
    letter-spacing: 0;
    color: #707070;
    opacity: 1;
    font-size: 14px;
    margin:0%;
}
.img-asset{
    width: 100%;
    height: 100%; 
    position: static;
}
.price{
    background: #de425b 0% 0% no-repeat padding-box;
    opacity: 1;
    padding:3%; 
    color: #ffffff;
    width: 45%;
    text-align: center;
    border-radius: 25px;
    font-size: 16px;
    font-weight: inherit;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}


.headAdd{
    color:#577863;
    text-align: center;
    position:static;
    margin-top: 1%;
    font-size:20px ;
}
.detail-table p{
    display: inline;
}
.detail-table{
    position:absolute;
    font-size: 14px;
    margin-top:2%; 
    margin-bottom:10%; 
    display: block;
    margin-left:5% ;
}
.detail-table div{
    margin-bottom: 30%;
    padding: 0;
    margin-left: 10%;
}
.detail-field{
    position: absolute;
    width:150px;
    height:30px;
    padding-left:20%;
    padding-top:5%; 
    background-color: #DAE0D8;
    font-size: 14px;
    font-family: 'Kanit' ;
    margin: 0;
    left:100%;
    color:#577863;
    border-radius: 10px;
}
.detail-textarea{
    position:absolute;
    padding: 5%;
    background-color: #DAE0D8;
    width: 250px;
    font-size:14px; 
    color:#577863;
    border-radius: 5px;
}
.img-detail{
    width: 150px;
    margin-left:auto;
    margin-right: auto;
    overflow:auto;
    display: block;
}
.typeAsset{ 
    display: none;
    visibility: hidden;
}
.typeAsset Button{
    border: 1px;
    position: relative;
    overflow: auto;
    color:#577863;
    font-size: 10px;
    font-weight: lighter;
    width: 50%;
    height: 30px;
    background-color: white;
    font-family: 'Kanit';
    border: 1px solid #b3b3b3;
    margin-bottom:5% ;
}
.manage-btn{
    text-align: center;
}
.manage-btn button{
    margin-left:3%;
    overflow:auto;
    display:inline-block;
    font-family: 'Kanit';
    font-size: 16px;
    width: 30%;
    color: white;
    background-color: #577863;
    border-radius:10px;
    border: none;
    height: 40px;
}

.formAdd {  
    position:static;
    right: 10%;
    width: 100%;
    overflow:auto;
    display:block;
    font-size: 12px;
    margin-top: 1%;
}
.formAdd input[type="number"],.formAdd input[type="text"]
{
    position: sticky;
    width:50%;
    height:10px;
    background-color: #DAE0D8;
    font-size: 12px;
    font-family: 'Kanit' ;
    font-weight: lighter;
    margin-top: 2%;
    left:40%;
    color:#577863;
    padding: 10px 20px 10px 20px;
    border: 1px solid #b3b3b3;
    border-radius: 8px;   
}
.formAdd input[type="file"]{
    margin-top: 5%;
    margin-bottom:1%; 
    font-family: 'Kanit';
    font-size: 8px;
    width: 100%;
    margin-left:20%;
}

.formAdd p{
    display: inline;
    color:#577863;
    position: sticky;
}
.uploadImage{
    display: block;
    overflow: auto;
}
.uploadImage img{
    overflow: auto;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom:5%; 
    display: block;
}
.img-upload{
    display: none;
}
.detail,.detail-asset{
    overflow:auto;
    display:block;
    width: 100%;
    color: #707070;
    font-size:12px; 
    text-decoration: underline;
    cursor: pointer;
}
.detail-asset{
    margin-top:10%; 
}
.detail textarea,.detail-asset textarea{
    font-family: 'Kanit';
    left: 20%;
    width: 90%;
    height: 100px;
    margin-left: 1%;
    font-size:12px; 
    color:#577863;
}
.hide{
    position: static;
    height: 70px;
}
.save{
    margin-left:auto;
    margin-right: auto; 
    overflow:auto;
    display:block;
    font-family: 'Kanit';
    font-size: 12px;
    width: 40%;
    color: white;
    background-color: #577863;
    border-radius:10px;
    border: none;
    height: 30px;

}
.save:hover,.manage-btn button:hover{
    background-color: #DAE0D8;
    color: #577863;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition-duration: 0.4s;}
.detailProduct{
    color: #707070;
    font-size:9px; 
    text-decoration: underline;
    visibility: hidden;
}
.delete-popup{
    text-align: center;
}
.delete-popup button{
    background-color: #DAE0D8;
    color: #577863;
    font-family: 'Kanit';
    width: 20%;
    font-size: 10px;
    border: none;
    border-radius: 5px;
    margin: 1%;
    cursor: pointer;
    transition-duration: 0.4s;}
.delete-popup button:hover{
    background-color: #577863;
    color: #DAE0D8;
}
}